<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="adminhtml">
            <module name="Veriteworks_Helloimg" before="Magento_Backend" />
        </route>
        <route id="helloimg" frontName="helloimg">
            <module name="Veriteworks_Helloimg" />
        </route>
    </router>
</config>
